header {
  display: flex;
  justify-content: space-between;
  background-color: #0e3746;
  border-bottom: 10px solid #000;
  padding: 10px 20px;
}

nav {
  text-align: right;
}

a {
  display: inline-flex;
  align-items: center;
  color: #f4f2ec;
  font-size: 20px;
  font-family: 'Fira Code', Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-decoration: none;
  margin-right: 30px;
}

a::before {
  content: '';
  background-color: #be2623;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

a:hover {
  color: #be2623;
}

h2 {
  font-family: 'Press Start 2P', sans-serif;
  color: #be2623;
  text-shadow: 3px 3px 0 black;
}

.button {
  display: inline-block;
  background-color: #eae8dc;
  color: #be2623;
  height: 60px;
  line-height: 60px;
  padding: 0 20px 0 10px;
  margin-right: 0;
  box-shadow: 5px 5px 0 black;
  transition: transform 100ms linear;
}

.button:hover {
  transform: scale(1.05);
  background-color: #f4f2ec;
}
