.section {
  background: linear-gradient(0deg, #be2623, #0e3746);
  padding-top: 50px;
  padding-bottom: 100px;
  border-bottom: 10px solid #00e8dc;
}

.section .main-title {
  margin-bottom: 60px;
}
